configure
config.*
.libs/*
Makefile
aclocal.m4
autom4te.cache/*
compile
depcomp
install-sh
*.la
*.a
libtool
ltmain.sh
missing
raw/*
stamp-h1
test-api
*.lo
*.o
lib/.deps/*
lib/*.lo
lib/.dirstamp
test/.deps/*
test/*.o
test/.dirstamp
tools/.deps/*
tools/*.o
tools/.dirstamp
profile
kmod/*.cmd
kmod/.tmp_versions
kmod/*.symvers
kmod/*.order
kmod/*.ko
kmod/*.mod.c
